name: Build Android APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04  # KITA PAKAI 22.04 (PALING STABIL)

    steps:
      - uses: actions/checkout@v4

      # 1. SETUP JAVA 11 (WAJIB BUAT ANDROID API 31)
      # Kalau pakai Java 17 bawaan Ubuntu baru, pasti error.
      - name: Set up Java 11
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'

      # 2. SETUP PYTHON 3.9 (PALING AMAN)
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      # 3. INSTALL DEPENDENCIES (Versi Stabil Ubuntu 22.04)
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            python3-pip \
            build-essential \
            git \
            python3 \
            python3-dev \
            ffmpeg \
            libsdl2-dev \
            libsdl2-image-dev \
            libsdl2-mixer-dev \
            libsdl2-ttf-dev \
            libportmidi-dev \
            libswscale-dev \
            libavformat-dev \
            libavcodec-dev \
            zlib1g-dev \
            libffi-dev \
            libssl-dev \
            autoconf \
            libtool \
            pkg-config \
            zip \
            unzip
          pip install --upgrade pip
          # Kivy 2.3.0 butuh Cython 3, bukan yang lama
          pip install buildozer "Cython==3.0.11"

      # 4. BUILD (TANPA 'YES' AGAR LOG JELAS)
      # Buildozer akan otomatis terima lisensi karena settingan di spec
      - name: Build with Buildozer
        run: |
          buildozer android debug

      # 5. UPLOAD HASIL
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
