name: Build Flet APK
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-apk:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # 1. Setup Java 17 (Wajib)
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      # 2. Setup Python
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # 3. Setup Komponen Linux
      - name: Install Linux Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev mesa-utils

      # 4. HAPUS SETUP FLUTTER MANUAL (Subosito)
      # Kita hapus langkah "Setup Flutter" biar Flet download sendiri versi 3.38.7 yang dia mau.
      # Biar gak bentrok versi lagi.

      # 5. Install Flet
      - name: Install Dependencies
        run: |
          pip install flet pycryptodome

      # 6. BUILD APK DENGAN "Y" YANG SOPAN
      # "yes | head -n 20" artinya: Jawab "y" 20 kali saja, lalu diam.
      # Ini menjawab pertanyaan install, tapi tidak bikin error Broken Pipe.
      - name: Build APK
        run: |
          yes | head -n 20 | flet build apk --verbose

      # 7. Upload Hasil
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: keygen-3gs
          path: build/apk/**/*.apk
          if-no-files-found: warn
