name: Build BeeWare Offline APK
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          
      - name: Install BeeWare Briefcase
        run: |
          pip install briefcase
          
      # --- TRIK RAHASIA: DOWNLOAD PYAES MANUAL ---
      # Kita download pyaes dan taruh langsung di folder kodingan
      # Jadi Android mengira ini adalah script buatan Mas sendiri, bukan library luar
      - name: Inject Library Pyaes
        run: |
          pip install pyaes --target src/keygen3gs/
          
      # 1. Siapkan Project Android
      - name: Create Android Project
        run: |
          briefcase create android
          
      # 2. Build APK Menggunakan Gradle (Skip Lint biar ngebut & anti error kecil)
      - name: Build APK (Debug)
        run: |
          cd build/*/android/gradle
          chmod +x gradlew
          ./gradlew assembleDebug -x lint
          
      # 3. Upload APK Hasilnya
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: keygen-offline-apk
          path: build/*/android/gradle/app/build/outputs/apk/debug/*.apk
