name: Build Flet APK
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-apk:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # 1. Siapkan Python
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # 2. Siapkan Flutter (Mesin Utama Flet)
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.19.0' # Versi stabil

      # 3. Install Flet & Library Lain
      - name: Install Dependencies
        run: |
          pip install flet pycryptodome

      # 4. Build APK (Perintah Ajaib Flet)
      # Flet akan otomatis mendownload SDK Android yang dibutuhkan
      - name: Build APK
        run: |
          flet build apk --verbose

      # 5. Upload Hasil APK
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: keygen-3gs
          path: build/apk/app-release.apk
