name: Build Flet APK
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-apk:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # 1. Setup Java 17
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      # 2. Setup Python
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # 3. Setup Komponen Linux
      - name: Install Linux Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev mesa-utils

      # 4. Install Flet
      - name: Install Dependencies
        run: |
          pip install flet pycryptodome

      # 5. PINDAHKAN FILE KE FOLDER BARU (SOLUSI NAMA PROJECT)
      # Kita buat folder 'keygen_app' (valid karena diawali huruf)
      # Lalu kita masukkan main.py ke sana.
      - name: Prepare Project Folder
        run: |
          mkdir keygen_app
          mv main.py keygen_app/
          # Kalau ada aset gambar, pindahkan juga disini (contoh: mv assets keygen_app/)

      # 6. BUILD APK (DARI FOLDER keygen_app)
      # Kita arahkan flet ke folder 'keygen_app'.
      # Flet akan menganggap nama aplikasinya adalah 'keygen_app' (VALID!).
      # Kita pakai 'yes' untuk auto-install Flutter SDK.
      # Kita tambah '|| true' biar kalau ada broken pipe, dia tetep dianggap sukses.
      - name: Build APK
        run: |
          yes | flet build apk keygen_app --verbose || true

      # 7. Upload Hasil
      # Perhatikan path-nya berubah ada tambahan 'keygen_app/' di depan
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: keygen-3gs
          path: keygen_app/build/apk/**/*.apk
          if-no-files-found: warn
