name: Build Android APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      # 1. Siapkan Python yang PASTI JALAN (3.8)
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      # 2. Install Buildozer & Dependencies
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            python3-pip \
            build-essential \
            git \
            python3 \
            python3-dev \
            ffmpeg \
            libsdl2-dev \
            libsdl2-image-dev \
            libsdl2-mixer-dev \
            libsdl2-ttf-dev \
            libportmidi-dev \
            libswscale-dev \
            libavformat-dev \
            libavcodec-dev \
            zlib1g-dev
          pip install --upgrade pip
          pip install buildozer cython==0.29.33

      # 3. Jalankan Buildozer (Tanpa ribet lisensi manual)
      - name: Build with Buildozer
        run: |
          yes | buildozer android debug

      # 4. Upload APK Hasilnya
      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          name: package
          path: bin/*.apk
