name: Build Android APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest  # Pakai mesin paling baru (Cepat)

    steps:
      - uses: actions/checkout@v4  # Update ke v4 (Terbaru)

      # 1. Siapkan Python
      - name: Set up Python
        uses: actions/setup-python@v5  # Update ke v5 (Terbaru)
        with:
          python-version: '3.10' # Kita naikkan dikit ke 3.10 biar lancar di Ubuntu baru

      # 2. Install Buildozer & Dependencies
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            python3-pip \
            build-essential \
            git \
            python3 \
            python3-dev \
            ffmpeg \
            libsdl2-dev \
            libsdl2-image-dev \
            libsdl2-mixer-dev \
            libsdl2-ttf-dev \
            libportmidi-dev \
            libswscale-dev \
            libavformat-dev \
            libavcodec-dev \
            zlib1g-dev
          pip install --upgrade pip
          pip install buildozer cython==0.29.33

      # 3. Jalankan Buildozer
      - name: Build with Buildozer
        run: |
          yes | buildozer android debug

      # 4. Upload APK Hasilnya (INI YANG TADI ERROR)
      - name: Upload APK
        uses: actions/upload-artifact@v4  # <--- SUDAH DIGANTI KE V4 (AMAN)
        with:
          name: package
          path: bin/*.apk
