name: Build Flet APK
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-apk:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # 1. Siapkan Java 17 (Wajib buat Android)
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      # 2. Siapkan Python
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # 3. Install Library Flet
      - name: Install Dependencies
        run: |
          pip install flet pycryptodome

      # 4. BUILD APK DENGAN "AUTO-YES" (SOLUSI ERROR TADI)
      # Kita pakai "yes |" di depan. 
      # Ini akan menjawab "y" terus menerus ke pertanyaan Flet.
      # Kita hapus langkah "Setup Flutter" manual biar Flet download versi yang dia mau sendiri.
      - name: Build APK
        run: |
          yes | flet build apk --verbose

      # 5. Upload Hasil APK
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: keygen-3gs
          path: build/apk/**/*.apk
